<div class="about">
    <h1 class="about-header">About Me</h1>
    <h2>
      My name is Abhi. <br />
      I'm a <b>Computer Programming and Analysis</b> student at <b>Seneca College</b>.
      <p> I am a web developer 👨🏻‍💻 based in,Toronto,ON 🌆. I always had interest in programming and web development
        since my high school days. My goal 🎯 is to develop things that helps in making world a better place. 
       </p>
       <p> Currently focused on learning and trying different things in development everyday
      </p>  
    </h2>
  
    <div class="about-background" [style.margin-bottom]="'2em'"></div>
    <div class="about-alert">
      <strong><p>This profile will get updated soon!</p></strong>
    </div>
</div>
